@import "../../scss/Variables.scss";

.chart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px dotted $black-color;
    .btn-wrapper {
        display: flex;
        justify-content: flex-end;
    }
    .team-wrapper {
        width: max-content;
    }
    & > p {
        text-align: center;
    }
    & > * {
        flex: 1;
    }
}