@import "../../scss/Variables.scss";

.player-container {
    position: relative;
}
.list-head {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $black-color;
    margin: 1rem 0;
    div {
        width: 90px;
    }
    & > p {
        text-align: center;
    }
    & > * {
        flex: 1;
    }
}