:root {
    --fs-header: 26px;
    --fs-semi-header: 20px;
    --fs-text: 16px;
}

$main-color: #213;
$black-color: #1F1F1F;
$grey-color: #303030;
$white-color: #213;

%linear-text-color {
    font-size: 72px;
    background: -webkit-linear-gradient(#009861, #89FFA4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}