@import "../scss/Variables.scss";

// CSS reset

* {
    box-sizing: border-box;
}
body, html {
    margin: 0;
    overflow-x: hidden;
}

// General settings

h1 {
    font-size: var(--fs-header);
    @extend %text-css;
}
h2, h3 {
    font-size: var(--fs-semi-header);
    @extend %text-css;
}
p, a {
    font-size: var(--fs-text);
    text-decoration: none;
    @extend %text-css;
}

select {
    background: none;
    border: none;
    font-size: var(--fs-semi-header);
    text-decoration: none;
    @extend %text-css;
}

.App {
    width: 92%;
    max-width: 1200px;
    margin: 0 auto;
}